/*Main*/
    body {
    display: flex;
    align-items: center;
    flex-direction: column;
    }

    main {
    max-width: 1110px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 116px;
    }

/*All text*/
    h1, h2, h3, h4, h5, h6, p {
        font-family: mulish;
    }
    .span-blue {
        color: #4A4FF2;
    }



/*index*/


    /*Main Text Block*/        
        .index-text {
            max-width: 1110px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 144px;
        }
        
        .index-intro {
            max-width: 635px;
            min-height: 251px;
        }

        .intro-title {
            font-size: 22px;
            font-weight: 700;
        }

        .intro-text {
            font-size: 40px;
            font-weight: 700;
        }

        .intro-quote {
            align-self: flex-end;
            font-size: 18px;
            font-style: italic;
            font-weight: 400;
            opacity: 0.6;
        }
        .qoute-span {
            text-decoration: overline;
        }

    /*Images section*/    
        .image-grid {
            max-width: 1110px;
            display: grid;
            grid-template-columns: 357px 357px 357px;
            grid-gap: 20px;
            margin-bottom: 106px;
        }

        .column-one {
            max-width: 357px;
            min-height: 1960px;
        }

        .column-two {
            max-width: 357px;
            min-height: 1960px;
        }

        .column-three {
            max-width: 357px;
            min-height: 1960px;
        }

        .grid-image {
            margin-bottom: 20px;
            
        }

        .small-image {
            box-sizing: border-box;
            padding-left: 3px;
        }

    /*Image text section*/

        .link-section {
            min-height: 106px;
            max-width: 1110px;
            width: 100%;
            display: flex;
            flex-direction: wrap;
            justify-content: space-between;
            margin-bottom: 101px;
        }

        .link-textbox {
            max-width: 635px;
            width: 100%;
        }
        .link-textbox-text {
            font-weight: 700;
            font-size: 28px;
        }

        .link-box {
            max-width: 350px;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            opacity: 0.6;
        }
        .link-box:hover {
            cursor: pointer;
        }


    /*Awards Grid*/

        .award-grid-one {
            border-top: solid 2px rgba(0, 0, 0, 0.5);
            width: 1100px;
            width: 100%;
            min-height: 411px;
            display: grid;
            grid-template-columns: 15fr 8fr 12fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        .second-award {
            grid-column: 2 / 3;
        }


        .award-grid-two {
            border-top: solid 2px rgba(0, 0, 0, 0.5);
            border-bottom: solid 2px rgba(0, 0, 0, 0.5);
            width: 1100px;
            width: 100%;
            min-height: 411px;
            display: grid;
            grid-template-columns: 15fr 8fr 12fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        .fourth-award {
            grid-column: 2 / 3;
        }

        .award-description {
            max-width: 190px;
        }

        .description-p {
            opacity: 0.6;
            font-size: 16px;
        }

/*Header + Footer*/


    /*Header*/
        .header {
            margin-top: 61px;
            margin-bottom: 96px;
            max-width: 1110px;
            width: 100%;
            min-height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .header-title {
            font-size: 20px;
        }
        
        .header-link {
            color: #111111;
            text-decoration: none;
            font-family: mulish;
            font-size: 18px;
            font-weight: 700;
        }

        .projects-link {
            margin-right: 29px;
        }

    /*Footer*/

        .footer {
            max-width: 1110px;
            width: 100%;
            min-height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 67px;
        }

        .footer-nav {
            display: flex;
            justify-content: space-between;
            max-width: 400px;
            width: 100%;
        }

        .icon {
            color: black;
            margin-left: 25px;
            font-weight: 700;
        }

        .footer-link {
            color: #111111;
            text-decoration: none;
            font-family: mulish;
            font-size: 18px;
            font-weight: 700;
        }


/*About.html / Projects page*/

    /*Info Section*/

    .info-section {
        max-width: 1110px;
        width: 100%;
        min-height: 285px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 61px;
    }

    .info-box {
        max-width: 635px;
        width: 100%;
    }

    .info-title {
        max-width: 495px;
        width: 100%;
        font-size: 40px;
        font-weight: 700;
    }

    .info-text {
        color: rgba(0, 0, 0, 0.5);
        font-weight: 400;
        font-size: 16px;
    }

    .info-details-box {
        max-width: 335px;
        display: flex;
        flex-flow: column;
        justify-self: flex-end;
        align-self: flex-end;
    }

    .detail-sub-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    }

    .detail {
        font-size: 18px;
    }

    .detail-title {
        color: rgba(0, 0, 0, 0.5);
    }

    /*Projects image section*/

    .main-projects-img {
        max-width: 1110px;
        width: 100%;
        margin-bottom: 45px;
    }

    .projects-img-text {
        margin-bottom: 45px;
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
    }

    .projects-img-grid {
        max-width: 1110px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
    }

    .projects-grid-img {
        max-width: 350px;
    }



/*contact page*/

    /*Form Section*/

    .form-section {
        max-width: 1110px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
    }

    .form-text-box {
        max-width: 475px;
        width: 100%;
    }

    .form-text-title {
        font-size: 40px;
        font-weight: 700;
    }

    .form-text-paragraph {
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
    }

    .contact-form {
        max-width: 475px;
        width: 100%;
        min-height: 291px;
        display: flex;
        flex-direction: column;
    }

    .form-input {
        color: rgba(0, 0, 0, 0.5);
        border: none;
        border-bottom: solid 2px rgba(0, 0, 0, 0.3);
        max-width: 475px;
        width: 100%;
        min-height: 37px;
        margin-bottom: 46px;
        font-size: 16px;
        font-weight: 700;
    }

    #submit-input {
        max-width: 125px;
        width: 100%;
        min-height: 50px;
        border: none;
        background-color: #4A4FF2;
        color: white;
        font-size: 16px;
        font-weight: 700;
    }

    .contact-map {
        max-width: 1110px;
        width: 100%;
    }